.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../../assets/banner-image.png");
    background-position: center;
    height: 352px;
    color: white;
}

.banner__content{
    padding: 1.5rem;
    flex: 0;
}

.banner__text{
    /*font-weight: bold;*/
    margin: 0 0 1rem 0;
}

.banner__title{
    font-weight: bold;
    font-size: 2.2rem;
}

.banner__subtitle{
    font-size: 1.25rem;
}

@media(min-width: 768px) {
    .banner__text{
        font-weight: bold;
    }
}