.form{
    /*display: flex;
    flex-wrap: wrap;*/
    flex: 1;
}

.form__title{
    font-weight: bold;
}

.form__label{
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 1.75rem;
}

.form__label span{
    position: absolute;
    font-size: 1rem;
    top: 50%;
    left: .75rem;
    transition: 0.25s;
}

@media(min-width: 900px) {
    .div:nth-child(1){
        display: flex;
    }
    
    .div:nth-child(2){
        padding: 2rem;
    }
}